@color: #666;
@hoverColor: #259;
@item-link: {
  display: block;
  padding-left: 10px;
  height: 35px;
  font-size: 13px;
  line-height: 34px;
  color: @color;
  &:hover {
    color: @hoverColor;
    background: #eff6fa;
  }
};

#main-sidebar {
  .side-nav-group {
    margin-bottom: 10px;
    font-size: 13px;
    .block-title {
      margin-bottom: 10px;
    }
    .nav-items {
      margin-left: -10px;
      .nav-item {
        margin-bottom: 3px;
        .nav-item-link {
          height: 28px;
          padding-left: 10px;
          line-height: 28px;
          color: @color;
          &:hover {
            color: @hoverColor;
          }
        }
      }
    }
    .zl-items {
      margin-left: -10px;
      .zl-item {
        .zl-item-link {
          @item-link();
        }
      }
    }
  }
  .border-side-nav-group {
    border-top: 1px solid #eee;
    padding-top: 15px;
  }
  #side-live {
    .category-live {
      a {
        color: #698ebf;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .live-items {
      margin-left: -10px;
      .live-item {
        .live-avatar {
          width: 25px;
          height: 25px;
          margin-right: 8px;
          vertical-align: middle;
        }
        .live-title {
          display: inline-block;
        }
        a {
          @item-link();
        }
      }
    }
  }
  #round-table {
    .category-round {
      a {
        color: #698ebf;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .round-items {
      margin-left: -10px;
      .round-item {
        a {
          @item-link();
          &:hover .remainder-time {
            display: none;
          }
          .round-icon {
            width: 25px;
            height: 25px;
            margin-right: 8px;
            vertical-align: super;
          }
          .round-title {
            display: inline-block;
            max-width: 170px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .remainder-time {
            padding-right: 12px;
          }
          .fav {
            color: @color;
            padding-right: 12px;
            &:hover {
              color: @hoverColor;
            }
          }
          &:hover .fav {
            display: inline!important;
          }
        }
      }
    }
  }
  #book-store {
    .category-book {
      a {
        color: #698ebf;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .book-items {
      margin-left: -10px;
      .book-item {
        a {
          @item-link();
          &:hover .remainder-time {
            display: none;
          }
          .book-icon {
            width: 25px;
            height: 25px;
            margin-right: 8px;
            vertical-align: super;
          }
          .book-title {
            display: inline-block;
            max-width: 170px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
          .up-time {
            padding-right: 12px;
          }
          &:hover .fav {
            display: inline!important;
          }
        }
      }
    }
  }
  #download-app {
    .item-link {
      @item-link();
      margin-left: -10px;
    }
  }
}
