#main-feeds {
  width: 100%;
  #zh-home-list-title {
    font-size: 14px;
    color: #666;
    font-weight: 700;
    .settings {
      color: #999;
      font-weight: normal;
      span:hover {
        text-decoration: underline;
      }
    }
  }
}