* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
}
body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 13px;
  word-wrap: break-word;
  color: #222;
  line-height: 1.7;
}
a {
  color: #259;
  text-decoration: none;
  &:active,
  &:focus,
  &:visited {
    color: #259;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
h3 {
  font-weight: 700;
  font-size: 14px;
  outline: 0;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.inline-block {
  display: inline-block!important;
}
.block {
  display: block!important;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}
.pull-left {
  float: left!important;
}
.pull-right {
  float: right!important;
}
.pointer {
  cursor: pointer;
}
[class*=sprite-global-icon-] {
  background-image: url("../imgs/sprites-global.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.sprite-global-icon-magnifier-dark {
  background-position: -82px 0;
  width: 15px;
  height: 15px;
}
[class*=sprite-home-icon-] {
  display: inline-block;
  vertical-align: middle;
  background-image: url("../imgs/sprites-home.png");
  background-repeat: no-repeat;
}
.sprite-home-icon-question-off {
  width: 24px;
  height: 24px;
  background-position: -148px -30px;
  a:hover & {
    background-position: -122px -30px;
  }
}
.sprite-home-icon-answer-off {
  width: 24px;
  height: 24px;
  background-position: -96px -30px;
  a:hover & {
    background-position: -96px -56px;
  }
}
.sprite-home-icon-post-off {
  width: 24px;
  height: 24px;
  background-position: -122px -56px;
  a:hover & {
    background-position: -174px -30px;
  }
}
[class*=sprite-normal-icon-] {
  width: 20px;
  height: 20px;
  background-image: url("../imgs/sprites-normal.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}
.sprite-normal-icon-home {
  background-position: -6px -7px;
}
.sprite-normal-icon-pm {
  background-position: -6px -34px;
}
.sprite-normal-icon-settings {
  background-position: -6px -60px;
}
.sprite-normal-icon-logout {
  background-position: -6px -87px;
}
.zg-icon {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../imgs/sprites-normal.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -2px;
  &-sidenav-fav {
    background-position: -167px -4px;
    a:hover & {
      background-position: -167px -24px;
    }
  }
  &-sidenav-follow {
    background-position: -183px -4px;
    a:hover & {
      background-position: -183px -24px;
    }
  }
  &-sidenav-invite {
    background-position: -200px -4px;
    a:hover & {
      background-position: -200px -24px;
    }
  }
  &-sidenav-publicedit {
    background-position: -269px -4px;
    a:hover & {
      background-position: -269px -24px;
    }
  }
}
.z-sidenav-icon {
  display: inline-block;
  position: relative;
  top: 1px;
  left: -1px;
  margin-right: 4px;
  background-image: url("../imgs/icons_a.png");
  &-community {
    width: 14px;
    height: 13px;
    background-position: -24px -41px;
    a:hover & {
      background-position: -67px -39px;
    }
  }
}
.z-icon-list {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
  background-image: url("../imgs/icons_b.png");
  background-repeat: no-repeat;
  &-normal {
    width: 25px;
    height: 25px;
    background-position: 0 0;
  }
}
.icon-purse {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../imgs/icon-purse.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -2px;
  background-size: contain;
  background-position: left center;
  a:hover &{
    background-image: url("../imgs/icon-purse-hover.svg");
  }
}
.icon-coupon {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../imgs/icon-coupon.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -2px;
  background-size: contain;
  background-position: left center;
  a:hover &{
    background-image: url("../imgs/icon-coupon-hover.svg");
  }
}
.icon-copyright {
  margin-right: 4px;
  width: 14px;
  height: 14px;
  background-image: url("../imgs/icon-copyright.svg");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: -2px;
  background-size: 13px 13px;
  background-position: left center;
  a:hover &{
    background-image: url("../imgs/icon-copyright-hover.svg");
  }
}
